<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세보기</title>
    <link th:href="@{/css/boardDetail.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <input id="hiddenId" type="text" th:value="${id}">
    <input id="hiddenUserId" type="text" th:value="${userId}">
    <input id="hiddenUserName" type="text" th:value="${userName}">

    <div class="article-header">
        <h1>게시글 제목</h1>
        <div class="article-info">
            <span>작성자: <strong >작성자</strong></span> |
            <span>작성일: <strong >2024-10-05 12:34:56</strong></span>
        </div>
    </div>

    <div class="article-content">
        <p>게시글 내용</p>
    </div>

    <div class="article-footer">
        <button class="btn" th:onclick="|location.href='@{/}'|">목록으로 돌아가기</button>
<!--        <button class="btn edit-btn" th:onclick="|location.href='@{/board/edit/{id}(id=${article.id})}'|">수정</button>-->
        <button class="btn edit-btn">수정</button>
    </div>
</div>
</body>
</html>
